body{
	background: #AAAAAA;
	color:#FFFFFF;
}
img{
	width:80px;
	height:70px;
}

#container{
	overflow:auto;
	height:100%;
	width:100%;
	padding:10px;
	background:#000000;
	border-radius:10px;
	margin:0 auto;
}
#title{
	height:100px;
	width:250px;
	margin: 0 auto;
}

#nav{
	width:100%;
	height:5%;
	background:#000000;
	border-radius: 8px;

}
.sub{
	display:hidden;
}
#nav ul li{
	width:30%;
	display:inline;
	background:#F00333;
	border: 1px solid white;
	padding:10px;
}

#nav ul li:hover{
	background: #3330FF;
}

#player{
	height:30%;
	width:45%;
	background:#00FF00;
	margin:0;
	border-radius:8px;
}
#tracks{
	height:100px;
	width: 45%;
	margin:0;
	background:#FF0000;
}

#content{
	width:45%;
	height:100%;
	overflow: auto;
	float:right;
	background:#FFFF00;
	border-radius:7px;
}